/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  text-decoration: none;
}

/** FONTS **/
/*! main-text-regular */
@font-face {
  font-family: "main-text-regular";
  src: url("../fonts/futult-webfont.woff") format("woff"), url("../fonts/futult-webfont.woff2") format("woff2");
}
/*! main-text-medium */
@font-face {
  font-family: "main-text-medium";
  src: url("../fonts/futura_medium_bt-webfont.woff") format("woff"), url("../fonts/futura_medium_bt-webfont.woff2") format("woff2");
}
/*! main-text-bold */
@font-face {
  font-family: "main-text-bold";
  src: url("../fonts/futura_heavy_font-webfont.woff") format("woff"), url("../fonts/futura_heavy_font-webfont.woff2") format("woff2");
}
/*! main-text-link */
@font-face {
  font-family: "main-text-link";
  src: url("../fonts/futult-webfont.woff") format("woff"), url("../fonts/futult-webfont.woff2") format("woff2");
}
/*! label-text */
@font-face {
  font-family: "label-text";
  src: url("../fonts/futult-webfont.woff") format("woff"), url("../fonts/futult-webfont.woff2") format("woff2");
}
/*! heading */
@font-face {
  font-family: "heading";
  src: url("../fonts/futura_heavy_font-webfont.woff") format("woff"), url("../fonts/futura_heavy_font-webfont.woff2") format("woff2");
}
/** CUSTOM PROPERTIES **/
:root {
  /** COLOR **/
  /*! Background Color */
  /*! black */
  --bg-black: #161616;
  /*! black-muted */
  --bg-black-muted: rgba(0, 0, 0, 0.3);
  /*! black-dim */
  --bg-black-dim: #f0f0f0;
  /*! white */
  --bg-white: #fff;
  /*! white-muted */
  --bg-white-muted: rgba(255, 255, 255, 0.6);
  /*! Foreground Color */
  /*! black */
  --fg-black: #161616;
  /*! black-muted */
  --fg-black-muted: rgba(0, 0, 0, 0.3);
  /*! black-dim */
  --fg-black-dim: #f0f0f0;
  /*! white */
  --fg-white: #fff;
  /*! white-muted */
  --fg-white-muted: rgba(255, 255, 255, 0.6);
  /** FONT **/
  --main-text-regular: "main-text-regular";
  --main-text-medium: "main-text-medium";
  --main-text-bold: "main-text-bold";
  --main-text-link: "main-text-link";
  --label-text: "label-text";
  --background-transition: background 0.4s ease;
  --box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-white);
  font-family: "main-text-regular";
}

/** UTILITY: Colors **/
/*! Background Color */
/*! black */
.bg-black {
  background-color: var(--bg-black);
}

/*! black-muted */
.bg-black-muted {
  background-color: var(--bg-black-muted);
}

/*! black-dim */
.bg-black-dim {
  background-color: var(--bg-black-dim);
}

/*! white */
.bg-white {
  background-color: var(--bg-white);
}

/*! white-muted */
.bg-white-muted {
  background-color: var(--bg-white-muted);
}

/*! Foreground Color */
/*! black */
.fg-black {
  color: var(--fg-black);
}

/*! black-muted */
.fg-black-muted {
  color: var(--fg-black-muted);
}

/*! black-dim */
.fg-black-dim {
  color: var(--fg-black-dim);
}

/*! white */
.fg-white {
  color: var(--fg-white);
}

/*! white-muted */
.fg-white-muted {
  color: var(--fg-white-muted);
}

.main-text-regular-12 {
  font-family: "main-text-regular";
  font-size: 0.75rem;
}

.main-text-regular-14 {
  font-family: "main-text-regular";
  font-size: 0.875rem;
}

.main-text-regular-16 {
  font-family: "main-text-regular";
  font-size: 1rem;
}

.main-text-regular-18 {
  font-family: "main-text-regular";
  font-size: 1.125rem;
}

.main-text-regular-20 {
  font-family: "main-text-regular";
  font-size: 1.25rem;
}

.main-text-medium-12 {
  font-family: "main-text-medium";
  font-size: 0.75rem;
}

.main-text-medium-14 {
  font-family: "main-text-medium";
  font-size: 0.875rem;
}

.main-text-medium-16 {
  font-family: "main-text-medium";
  font-size: 1rem;
}

.main-text-medium-18 {
  font-family: "main-text-medium";
  font-size: 1.125rem;
}

.main-text-medium-20 {
  font-family: "main-text-medium";
  font-size: 1.25rem;
}

.main-text-bold-12 {
  font-family: "main-text-bold";
  font-size: 0.75rem;
}

.main-text-bold-14 {
  font-family: "main-text-bold";
  font-size: 0.875rem;
}

.main-text-bold-16 {
  font-family: "main-text-bold";
  font-size: 1rem;
}

.main-text-bold-18 {
  font-family: "main-text-bold";
  font-size: 1.125rem;
}

.main-text-bold-20 {
  font-family: "main-text-bold";
  font-size: 1.25rem;
}

.main-text-link-12 {
  font-family: "main-text-link";
  font-size: 0.75rem;
}

.main-text-link-14 {
  font-family: "main-text-link";
  font-size: 0.875rem;
}

.main-text-link-16 {
  font-family: "main-text-link";
  font-size: 1rem;
}

.label-text-12 {
  font-family: "label-text";
  font-size: 0.75rem;
}

.label-text-14 {
  font-family: "label-text";
  font-size: 0.875rem;
}

.label-text-16 {
  font-family: "label-text";
  font-size: 1rem;
}

.label-text-18 {
  font-family: "label-text";
  font-size: 1.125rem;
}

.label-text-20 {
  font-family: "label-text";
  font-size: 1.25rem;
}

.label-text-22 {
  font-family: "label-text";
  font-size: 1.375rem;
}

.label-text-24 {
  font-family: "label-text";
  font-size: 1.5rem;
}

.label-text-26 {
  font-family: "label-text";
  font-size: 1.625rem;
}

.label-text-28 {
  font-family: "label-text";
  font-size: 1.75rem;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.is-flex {
  display: flex;
}

.is-row {
  flex-direction: row;
}

.is-column {
  flex-direction: column;
}

.float-right {
  justify-content: flex-end;
}

.float-start {
  justify-content: flex-start;
}

.float-center {
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

h1 {
  font-family: "heading";
  font-size: 2.625rem;
}

h2 {
  font-family: "heading";
  font-size: 2rem;
}

h3 {
  font-family: "heading";
  font-size: 1.75rem;
}

h4 {
  font-family: "heading";
  font-size: 1.625rem;
}

h5 {
  font-family: "heading";
  font-size: 1.5rem;
}

h6 {
  font-family: "heading";
  font-size: 1.375rem;
}

.InfoText h4 {
  font-size: 16px;
  font-family: "main-text-regular";
  color: var(--fg-black-muted);
}
.TitleText h3 {
  font-size: 22px;
  font-family: "main-text-regular";
}
.Button {
  border-radius: 15px;
  width: 100px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  background-color: var(--bg-black-muted);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.Button:hover {
  background-color: var(--bg-black);
  color: var(--fg-white);
}
.SearchField input {
  width: 500px;
  font-size: 24px;
  padding: 5px;
}
.ListItem {
  padding: 10px;
  background-color: var(--bg-white);
  box-shadow: var(--box-shadow);
  margin: 10px;
}
.ListItem .item-content {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}
.SearchBar {
  background-color: var(--bg-white);
  margin: 10px;
  display: flex;
  gap: 20px;
}
.Overview {
  padding: 40px;
}